/******************* @ *******************/

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2");
    font-weight: 400; /* regular */
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2");
    font-weight: 700; /* bold */
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2");
    font-weight: 500; /* medium */
    font-style: normal;
}

/******************** base style *****************/
html { box-sizing: border-box;}
*, *::before, *::after { box-sizing: inherit; }

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.page {
	max-width: 1200px;
	min-width: 900px;
	margin: 0 auto;
	padding: 0;
	background-color: #849d8f;
}

.btn {
	display: inline-block;
	padding: 10px 20px 12px 20px;
	border: none;
	border-radius: 23px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	background-color: #e74a35;
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	text-decoration: none;
}

.btn:hover,
.btn:focus {
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
	background-image: linear-gradient( 90deg, #f58669 0%, #ec6f5e 100%);
}

.btn:active {
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
	background-image: linear-gradient( 90deg, #d74632 0%, #e1613e 100%);
}


/******************** header *****************/

.main-header {
	display: flex;
	position: relative;
	justify-content: space-between;
	z-index: 100;
	margin: 0 2.3%;
	padding-top: 9px;
}

.main-header_group {
	display: flex;
	align-items: center;
}

.main-header_logo-link {
	margin-right: 11px;
}

.logo-link_img {
	display: block;
}

/***********  main menu  **********/

.main-navigation_list {
	display: flex;
	margin: 0;
	padding-left: 0;
}

.main-navigation_item {
	display: block;
	position: relative;
	list-style: none;
	height: 37px;
	padding-bottom: 5px;
}

.main-navigation_item:not(:last-child) {
	margin-right: 4px;
}

.main-navigation_link {
	border: none;
	display: block;
	margin: 0;
	padding: 0 12px;
	border-radius: 16px;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.main-navigation_link:hover,
.main-navigation_link:focus,
.main-navigation_item:hover .main-navigation_link,
.main-navigation_item:focus .main-navigation_link {
	background-color: #f7f6f3;
	color: #000;
}


.main-navigation_link:active {
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.main-navigation_link--active {
	color: #fff;
	background-color: #d07058;
}

.main-navigation_item:hover .main-navigation_submenu,
.main-navigation_item:focus .main-navigation_submenu {
	display: block;
}

.main-navigation_submenu {
	display: none;
	position: absolute;
	bottom: 0;
	left: -7px;
	transform: translateY(100%);
	min-width: 143px;
	border-radius: 5px;
	margin: 0;
	padding-left: 0;
	
	list-style: none;
	background-color: #f8f7f4;
}

.submenu-list_link {
	display: block;
	padding: 0 20px;
	margin: 5px 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: normal;
	color: #323232;
	text-decoration: none;
}

.submenu-list_link:hover,
.submenu-list_link:focus {
	background-color: #fbded7;
}

.submenu-list_link:active {
	background-color: #f6b5a5;
}

.submenu-list_link--active,
.submenu-list_link--active:hover,
.submenu-list_link--active:focus,
.submenu-list_link--active:active {
	background-color: #d07058;
	color: #fff;
}

.submenu-list_link--active,
.submenu-list_link--active:hover,
.submenu-list_link--active:focus,{
	background-color: #d07058;
	color: #fff;
}

.submenu-list_link--accent {
	display: block;
	position: relative;
	padding-bottom: 3px;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #323232;
	text-decoration: none;
}

.submenu-list_link--accent::after {
	content: "";
	display: block;
	position: absolute;
	width: 90%;
	height: 2px;
	left: 5%;
	bottom: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/**************  search  **************/

.main-header_search {
	margin-left: 10px;
	position: relative;
	padding-bottom: 5px;
	min-width: 32px;
}

.main-header_search-link {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../img/svg/loupe.svg);
	background-repeat: no-repeat;
	background-position: center center;
	
	line-height: 32px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.main-header_search-link:hover,
.main-header_search-link:focus,
.main-header_search:hover .main-header_search-link,
.main-header_search:focus .main-header_search-link{
	background-image: url(../img/svg/loupe-black.svg);
	background-color: #f7f6f3;
	color: #000;
}

.main-header_search:hover .main-header_search-form,
.main-header_search:focus .main-header_search-form {
	display: block;
}

.main-header_search-form {
	display: none;
	position: absolute;
	padding: 20px 15px;
	width: 341px;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	margin: 0;
	
	border-radius: 5px;
	background-color: #f8f7f4;
	z-index: 100;
}

.search-form_field {
	width: 100%;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	padding: 10px 15px;
	
	line-height: 24px;
}


.search-form_field:hover {
	box-shadow: 0 0 0 1px rgb(154, 154, 154);
}

.search-form_field:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgb(46, 136, 228);
}

/********** sing-in **********/

.main-header_sing-in {
	margin-left: 10px;
	position: relative;
	padding-bottom: 5px;
	min-width: 92px;
}

.main-header_sing-in-link {
	display: block;
	height: 32px;
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../img/svg/sing-in.svg);
	background-repeat: no-repeat;
	background-position: 17px center;
	padding-left: 45px;
	padding-right: 15px;
	
	line-height: 32px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.main-header_sing-in-link:hover,
.main-header_sing-in-link:focus,
.main-header_sing-in:hover .main-header_sing-in-link,
.main-header_sing-in:focus .main-header_sing-in-link {
	background-image: url(../img/svg/sing-in--black.svg);
	background-color: #f7f6f3;
	color: #000;
}

.main-header_sing-in:hover .main-header_sing-in-form,
.main-header_sing-in:focus .main-header_sing-in-form {
	display: block;
}

.main-header_sing-in-form {
	display: none;
	position: absolute;
	padding: 20px 20px;
	width: 277px;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	
	border-radius: 5px;
	background-color: #f8f7f4;
	z-index: 100;
}

.sing-in-form_group {
	display: flex;
	justify-content: space-between
}

.sing-in-form_field {
	width: 100%;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 0;
	margin-bottom: 20px;
	
	line-height: 24px;
	font-family: Roboto, Arial, sans-serif;
	color: #323232;
}

.sing-in-form_field:hover {
	box-shadow: 0 0 0 1px rgb(154, 154, 154);
}

.sing-in-form_field:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgb(46, 136, 228);
}

.sing-in-form_help-list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.sing-in-form_help-link {
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: none;
	border-bottom: 1px solid rgba(32, 32, 32, 0.3);
}

.sing-in-form_help-link:hover,
.sing-in-form_help-link:focus,
.sing-in-form_help-link:active {
	color: #e84d37;
	border-bottom: 1px solid #e84d37;
}

/***********  basket  **********/

.main-header_basket {
	position: relative;
	margin-left: 10px;
	padding-bottom: 5px;
	min-width: 117px;
}

.basket--empty .basket_form {
	visibility: hidden;
}

.basket_link {
	display: block;
	height: 32px;

	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../img/svg/basket.svg);
	background-repeat: no-repeat;
	background-position: 17px center;
	padding-left: 45px;
	padding-right: 15px;
	
	line-height: 32px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.basket_link--full {
	background-color: #f7f6f3;
	color: #323232;
	background-image: url(../img/svg/basket-color.svg);
}

.basket_link:hover,
.basket_link:focus,
.main-header_basket:hover .basket_link,
.main-header_basket:focus .basket_link {
	background-image: url(../img/svg/basket-color.svg);
	background-color: #f7f6f3;
	color: #000;
}

.main-header_basket:hover .basket_form,
.main-header_basket:focus .basket_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.basket_form {
	display: none;
	position: absolute;
	padding: 10px 15px 20px 15px;
	width: 539px;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	
	border-radius: 5px;
	background-color: #f8f7f4;
	z-index: 100;
}

.basket_form-list {
	margin: 0;
	padding-left: 0;
	padding-bottom: 3px;
	list-style: none;
	border-bottom: 1px solid #cacac7;
}

.basket_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 54px;
	
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #323232;
}

.basket_item-del {
	display: block;
	width: 11px;
	height: 11px;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: url("../img/svg/x-small.svg");
	margin: 0 9px 0 6px;
}

.basket_item-img {
	display: block;
	width: 33px;
	height: 33px;
	margin-right: 12px;
}

.basket_item-name {
	display: block;
	width: 250px;
	margin: 0;
	margin-right: auto;
}

.basket_item-amount-of-product {
	
}

.basket_item-amount-of-product::after {
	content: "×";
}

.basket_item-price-for-one {
	color: #999;
}

.basket_item-price {
	margin-left: 15px;
}

.basket_total {
	margin: 15px 0;
	align-self: flex-end;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	color: #323232;
}

.basket_btn {
	align-self: flex-end;
}

/*********  contact info  ********/

.main-header_contact-info {
	position: absolute;
	margin: 0;
	right: 0;
	bottom: -45px;
	width: 200px;
	text-align: right;
}

.main-header_working-time {
	display: block;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #fff;
}

.main-header_phone {
	display: block;
	margin-top: 4px;
	margin-bottom: 2px;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
}

/*********************** stock slider **************************/
.stock-slider {
	height: 881px;
	margin-top: -73px;
	z-index: 0;
  	position: relative;
}

.stock-slider_controls {
	display: flex;
  	position: absolute;
	left: 2.3%;
	top: 563px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.stock-slider_control-item {
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin-right: 9px;
}

.stock-slider_control-item--active {
	background-color: #fff;
}

.stock-slider_slides-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
	height: inherit;
	z-index: 5;
}

.stock-slider_slide {
	position: relative;
	overflow: hidden;
	height: inherit;
}

.stock-slider_slide:not(:first-child) {
	display: none;
}

.stock-slider_slide-title {
	width: 700px;
	position: absolute;
	top: 389px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	
	font-size: 60px;
	font-family: Roboto, Arial, sans-serif;
	color: rgb(255, 255, 255);
	line-height: 60px;
	text-align: center;
}

.stock-slider_slide-img {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.btn--size-lage {
	font-size: 32px;
	line-height: 44px;
	padding: 7px 40px 12px 40px;
	border-radius: 32px;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.stock-slider_btn {
	position: absolute;
	top: 543px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

/***********************  stock cards   *************************/

.stock-cards {
	transform: translateY(-234px);
	margin: 0 2.3%;
	margin-bottom: -195px;
}

.stock-cards_list {
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 0; 
	margin: 0;
}

.stock-cards_item {
	width: 100%;
}

.stock-cards_item:not(:last-child) {
	margin-right: 2.2%;
}

.stock-card {
	display: flex;
	min-height: 229px;
	flex-direction: column;
	padding-top: 15px;
	padding-bottom: 14px;;
	padding-left: 18px;
	padding-right: 21px;
	border-radius: 15px;
}

.stock-card_title {
	margin: 0;
	margin-bottom: 17px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
	color: #fff;
}

.stock-card_description {
	margin: 0;
	margin-bottom: 44px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.stock-cards_btn {
	align-self: flex-end;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 165px;
}

.stock-card--raspberries {
	background: url("../img/bg/rb.jpg") no-repeat #901831;
	background-size: cover;
}

.stock-card--chocolates {
	background: url("../img/bg/choco.jpg") no-repeat #41271b;
	background-size: cover;
}

/********************    hit poducts      **********************/

.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 0 2.3%;
	margin-bottom: 0px;
}

.products_list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.products_item {
	max-width: 23.4259%;
}

.products_item:not(:nth-child(4n)) {
	margin-right: 2.0988%;
}

.product-card {
	position: relative;
/*	min-height: 350px;*/
	margin-bottom: 30px;
}

.product-card_hover {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	box-sizing: content-box;
	position: absolute;
	
	
/*	Резиновые падинги*/
	padding: 6px 4.954%;
	padding-bottom: 22px;
	top: -6px;
	left: -4.954%;
	
	
/*	Фиксированные падинги
	padding: 6px 14px;
	padding-bottom: 22px;
	top: -6px;
	left: -14px;
*/
	
	
	width: 100%;
	height: calc(100% + 50px); /*115%*/
	
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 5;
}

.product-card:hover {
	z-index: 20;
}

.product-card:hover .product-card_hover {
	display: flex;
}

.product-card_link {
	display: block;
	position: relative;
	text-decoration: none;
	z-index: 10;
}

.product-card_link--hit::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 61px;
	height: 61px;
	background: url(../img/svg/hit.svg) no-repeat center center;
}

.product-card_img {
	display: block;
	border-radius: 50%;
	margin: 0;
	margin-bottom: -60px;
	max-width: 100%;
	height: auto;
}

.product-card_name {
	margin-top: 0;
	margin-bottom: 8px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #fff;
	text-align: center;
}

.product-card_price {
	display: flex;
	align-items: baseline;
	margin-bottom: 20px;

	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 45px;
	line-height: 50px;
	color: #fff;
	word-spacing: -5px;
}

.product-card_measure {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	color: #fff;
}

.product-card_measure::before {
	content: "";
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 30px;
	height: 35px;
	background: url(../img/svg/ruble.svg) no-repeat left bottom;
	
}

.btn--fast-view {
	display: block;
	position: absolute;
	padding-left: 15px;
	padding-right: 15px;
/*
	bottom: 22px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
*/

}

/******************  features   ************************/


.features {
	padding: 25px 20px;
	padding-bottom: 0;
	border-radius: 15px;
	margin: 0 2.3%;
	margin-bottom: 40px;
	background: url("../img/bg/wafer.jpg") repeat #eaddc1;
}

.features_intro {
	margin: 0;
	margin-bottom: 23px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.features_intro-term {
	display: inline;
}

.features_intro-definition {
	display: inline;
	margin-left: 5px;
}

.features_list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features_item {
	width: 48.75%;
	flex-shrink: 1;
	margin-bottom: 24px;
	padding-left: 55px;
	position: relative;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #323232
}

.features_item:nth-child(2n) {
	margin-left: 2.0988%;
}

.features_item::after {
	content: "";
	display: block;
	width: 49px;
	height: 49px;
	position: absolute;
	left: 0;
	top: -15px;
}

.features_item--ice::after {
	background-image: url("../img/svg/ice.svg");
}

.features_item--prowiders::after {
	background-image: url("../img/svg/cow.svg");
}

.features_item--ecology::after {
	background-image: url("../img/svg/leaf.svg");
}

.features_item--temperature::after{
	background-image: url("../img/svg/thermometer.svg");
}

/************** news and subscription *****************/

.news-and-subscription-container {
	display: flex;
	margin: 0 2.3%;
	margin-bottom: 40px;
}

.news {
	width: 48.9506%;
	border-radius: 15px;
	margin-right: 2.0988%;
	min-height: 220px;
	padding: 23px 19px;
	
	background: url("../img/bg/news-bg.jpg") no-repeat  #fff;
	background-position: 115% 20%;
}

.news_title {
	display: inline-block;
	margin: 0;
	margin-bottom: 4px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	
	background-color: #fff;
}

.news_info {
	margin: 0;
	max-width: 300px;
}

.news_link {	
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	background-color: rgba(255, 255, 255, 0.8)
}

.news_link:hover,
.news_link:focus,
.news_link:active{
	color: #e84d37;
}

.subscription {
	width: 48.9506%;
	border-radius: 15px;
	min-height: 220px;
	background-color: #92cdff;
	background: url("../img/svg/post.svg") no-repeat center/cover;
 	background: repeating-linear-gradient(135deg, #ffffff 0px, #ffffff 8px, #92cdff 8px, #92cdff 16px, #ffffff 16px, #ffffff 24px, #fe9e90 24px, #fe9e90 32px);
}

.subscription_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	border: 5px solid transparent;
	border-radius: 15px;
	padding: 29px 22px;
	padding-bottom: 25px;
	
	background-color: #f8f7f4;
	background-clip: padding-box;
}

.subscription_text {
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	margin: 0 0 10px 0;
}

.subscription_form {
	display: flex;
	margin-bottom: 10px;
	height: 44px;
}

.subscription_field {
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	line-height: 44px;
	padding: 0 13px;
	width: 100%;
	margin-right: 11px;
}

.subscription_field:hover {
	box-shadow: 0 0 0 1px rgb(154, 154, 154);
}

.subscription_field:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgb(46, 136, 228);
}

.subscription_btn {
	width: 127px;
}

/************ contacts **************/

.contacts {
	margin: 0;
	height: 430px;
	overflow: hidden;
	position: relative;
}

.contacts_map {
	width: 100%;
}
.contact_map--img {
	transform: translateY(-30%);
}

.contacts_map--widget {
	display: none;
}

.contacts_card {
	width: 302px;
	position: absolute;
	top: 63px;
	right: 2.3%;
	border-radius: 15px;
	padding: 28px 25px;
	background-color: #fefefe;
}

.contacts_item-address {
	margin-top: 0;
	margin-bottom: 19px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	font-style: normal;
}

.contacts_item-phone {
	margin-top: 0;
	margin-bottom: 26px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	font-style: normal;
}

.contacts_address,
.contacts_phone {
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #323232;
	font-style: normal;
}

.contacts_phone {
	display: block;
	margin-top: 5px;
}

.contacts_btn {
	display: block;
}

/**************** footer *****************/

.main-footer {
	display: flex;
	min-height: 103px;
	align-items: center;
	justify-content: space-between;
	margin: 0 2.3%;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.social-list {
	display: flex;
	margin: 0;
	padding-left: 0;
	list-style: none;
	padding-top: 5px;
}

.social-list_item:not(:last-child) {
	margin-right: 12px;
}

.social-list_link {
	display: block;
	width: 37px;
	height: 37px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	background-clip: padding-box;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

.social-list_link:hover,
.social-list_link:focus {
	opacity: 1;
}

.social-list_link:active {
	opacity: 0.5;
}

.social-list_link--tw {
	background-image: url("../img/svg/twitter.svg");
}

.social-list_link--in {
	background-image: url("../img/svg/instagram.svg");
}

.social-list_link--fb {
	background-image: url("../img/svg/fb.svg");
}

.social-list_link--vk {
	background-image: url("../img/svg/vk.svg");
}

.other-info {
	display: flex;
	margin: 0;
	width: 400px;
	padding-top: 3px;
	padding-left: 0;
	list-style: none;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.other-info_item {
	min-width: 160px;
}

.other-info_item:nth-child(2n-1) {
	margin-right: -17px;
}

.other-info_link {
	padding-left: 50px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 23px;
	color: #fff;
}

.other-info_link:hover,
.other-info_link:focus,
.other-info_link:active {
	color: #ffbc9e;
}

.other-info_link--accent {
	position: relative;
	font-weight: bold;
}

.other-info_link--accent::before {
	content: "";
	position: absolute;
	top: 0;
	left: 30px;
	display: block;
	width: 15px;
	height: 100%;
	background: url("../img/svg/heart.svg") no-repeat center;
	
}

.copyright {
	margin: 0;
	padding-bottom: 5px;
}

.copyright_link {
	text-decoration: none;
	color: #fff;
}

.copyright_img,
.copyright_link--img {
	display: block;
	position: relative;
}

.copyright_text {
	display: block;
	margin-top: 5px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
}

.copyright_link--text {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.copyright_link--text:hover,
.copyright_link--text:focus,
.copyright_link--text:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

/************** pop-up *************/

.pop-up {
	display: none;  /*заментять на display:flex*/
	flex-direction: column;
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(-50%);
	z-index: 99;
	
	border-radius: 10px;
	padding: 25px;
	
	background-color: #f8f7f4;
}


.feedback-form {
	width: 430px;
}

.feedback-form_title {
	margin: 0;
	margin-bottom: 20px;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #323232;
}

.feedback-form_field {
	width: 267px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 20px;
	
	line-height: 24px;
	
}

.feedback-form_field:hover {
	box-shadow: 0 0 0 1px rgb(154, 154, 154);
}

.feedback-form_field:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgb(46, 136, 228);
}

.feedback-form_field--message {
	width: 100%;
	min-height: 155px;
	resize: vertical;
}

.feedback-form_btn {
	align-self: flex-end;
}

/*************   catalog   **************/
.catalog-header {
	margin: 0 2.3%;
	margin-bottom: 26px;
}

.breadcrumbs {
	display: flex;
	
	list-style: none;
	padding-left: 0;
	margin: 0;
	margin-bottom: 3px;
	margin-top: 24px;
}

.breadcrumbs-item:not(:first-child) {
	margin-left: 7px;
}
.breadcrumbs-item:not(:first-child)::before {
	content: "»";
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 17px;
	line-height: 16px;
	color: #fff;
}

.breadcrumbs-link {
	text-decoration: none;
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}

.catalog-page-header_title {
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
	color: #fff;
	margin: 0;
}

/**********  catalog filter  **********/

.catalog-nav {
	margin: 0 2.3%;
	margin-bottom: 25px;
}

.catalog-nav_filter-form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	align-content: space-between;
	min-height: 129px;
}
.catalog-nav_formgroup {
	border: none;
	margin: 0;
	margin-bottom: 16px;
	margin-right: 15px;
	padding: 0;
}

.catalog-nav_formgroup--sort {
	min-width: 193px;
}

.catalog-nav_formgroup--price {
	min-width: 218px;
}

.catalog-nav_formgroup--fat {
	min-width: 414px;
}

.catalog-nav_formgroup--filler {
	min-width: 702px;
}

.catalog-nav_formgroup-title {	
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	padding-left: 15px;
	margin-bottom: 6px;
}

.catalog-nav_item {
	display: flex;
	align-items: center;
	height: 36px;
	padding: 0 15px;
	margin: 0;
	border: none;
	border-radius: 18px;
	background-color: rgba(255, 255, 255, 0.2);
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	width: 100%;
}

.catalog-nav_label {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.catalog-nav_sort {
	padding-left: 11px;
}

.multirange {
	position: relative;
}

.multirange::before {
	content: "";
	display: block;
	width: 176px;
	height: 4px;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.multirange_flag {
	display: block;
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: url("../img/svg/filter-button.svg") no-repeat center top;
	font-size: 1px;
	color: transparent;
}

.multirange_flag--from {
	left: 34px;
}

.multirange_flag--to {
	left: 132px;
}

.catalog-nav_radio,
.catalog-nav_checkbox {
	display: none;
}

.catalog-nav_label {
	padding-left: 32px;
	position: relative;
	line-height: 36px;
}

.catalog-nav_label--radio:not(:last-of-type) {
	margin-right: 17px;
}

.catalog-nav_label--checkbox:not(:last-of-type) {
	margin-right: 21px;
}

.catalog-nav_label--radio::before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -11px;
	
	
	background-image: url("../img//svg/radio-off.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	opacity: 0.8;
}

.catalog-nav_radio:checked + .catalog-nav_label--radio::before {
	background-image: url("../img//svg/radio-on.svg");
}

.catalog-nav_label--checkbox::before {
	content: "";
	display: block;
	width: 24px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	
	background-image: url("../img//svg/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	opacity: 0.8;
}

.catalog-nav_checkbox:checked + .catalog-nav_label--checkbox::before {
	background-image: url("../img//svg/checkbox-on.svg");
}

.catalog-nav_label--checkbox:hover::before,
.catalog-nav_label--checkbox:focus::before,
.catalog-nav_label--radio:hover::before,
.catalog-nav_label--radio:focus::before {
	opacity: 1;
}

.catalog-nav_label--checkbox:disabled::before,
.catalog-nav_label--radio:disabled::before {
	opacity: 0.4;
}

.catalog-nav_submit {
	margin-bottom: 16px;
	width: 143px;
	padding-left: 27px;
	border: 2px solid #fbfcfb;
}

.catalog-nav_submit:hover,
.catalog-nav_submit:focus {
	outline: none;
	border: none;
	color: #323232;
	background-color: #fbfcfb;
}

.catalog-nav_submit:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}


/**************  paginatop  ***************8*/

.products_paginator {
	display: flex;
	margin-top: 44px;
	margin-bottom: 30px;
	align-self: flex-end;
}

.paginator-list {
	display: flex;
	align-items: center;
	list-style: none;
	padding-left: 0;
	margin: 0 16px;;
}

.btn-paginator,
.paginator-list_link {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #fff;
	text-decoration: none;
	text-align: center
}

.paginator-list_item:not(:last-child) {
	margin-right: 4px;
}

.paginator-list_link:hover,
.paginator-list_link:focus {
	background-color: rgba(255,255, 255, 0.4);
}

.paginator-list_link--active,
.paginator-list_link:focus {
	background-color: #fff;
	color: #323232;
}

.btn-paginator {
	width: 8px;
	font-size: 1px;
	color: transparent;
	background: url("../img/svg/paginator-btn.svg") no-repeat center;
	opacity: 0.4;
}

.btn-paginator--back {
transform: rotate(180deg);
}

.btn-paginator:hover,
.btn-paginator:focus,
.btn-paginator:active {
	opacity: 1;
}

